@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff;
    height: 100vh;
    padding: 5vw;
    font-family: 'Montserrat', sans-serif;
}
.contentinfo ul li {
    color: #67ecc8;
    font-weight: 600;
}
.info h1 {
    color: #1d295e;
    font-weight: bold;
    font-size: 3rem;
    font-weight: 600;

}

.info h2 {
    color: #263578;
}

.unespimg {
    margin-right: 3vw;
    margin-left: -15vw;
    border-radius: 30% 70% 63% 37% / 30% 63% 37% 70% ;
    animation: profile_animate 8s ease-in-out infinite 1s;

}

.unespimg1 {
    margin-right: 3vw;
    margin-left: -15vw;
    border-radius: 30% 70% 63% 37% / 30% 63% 37% 70% ;
    display: none;
    animation: profile_animate 8s ease-in-out infinite 1s;

}

.contentinfo {
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    margin-right: 5vw;
    row-gap: 2vh;
}

.contentinfo ul {
    display: flex;
    flex-direction: column;
    list-style: circle;
}
@keyframes profile_animate {
    0% {
      border-radius: 30% 70% 63% 37% / 30% 63% 37% 70% ;
    }
  
    50% {
      border-radius: 60% 40% 70% 40% / 40% 60% 50% 65%;
    }
  
    100% {
      border-radius: 30% 70% 63% 37% / 30% 63% 37% 70% ;
    }
  }
@media(max-width: 1440px) {
    .unespimg {
        scale: 0.8;
    }
    .contentinfo {
        margin-left: 3vw;
        margin-right: 3vw;
    }
}

@media(max-width: 1024px) {
    .info {
        align-items: center;
        padding: 0vw;
    }
    .unespimg {
        margin-right: -15vw;
        margin-left: -30vw;
        margin-bottom: 5vh;
        margin-top: -0vh;
        scale: 0.7;
    }
    .contentinfo {
        margin-left: 10vw;
        margin-right: 10vw;
    }
    .info h1{
        font-size: 1.8rem;
        margin-top: 5vh;
    }
    .info h2 {
        font-size: 1.5rem;
    }.info p{
        font-size: .95rem;
    }
    .contentinfo ul li {
        width: 115%;
    }
}

@media(max-width: 800px) {
    .info {
        flex-direction: column;
        align-items: center;
        padding: 0vw;
        height: 150vh;
    }
    .unespimg {
        margin-right: -15vw;
        margin-left: -30vw;
        margin-bottom: 5vh;
        margin-top: -10vh;
        scale: 0.7;
        display: none;
    }
    .unespimg1 {
        
        margin-right: -25vw;
        margin-left: -30vw;
        margin-bottom: -20vh;
        margin-top: -20vh;
        scale: 0.45;
        display: block;
    }
    .contentinfo {
        margin-left: 17vw;
        margin-right: 15vw;
    }
    .info h1{
        font-size: 2rem;
    }
    .info h2 {
        font-size: 1.5rem;
    }.info p{
        font-size: .95rem;
    }
    .contentinfo ul li {
        color: #4ae0b9;
    }
}
@media(max-width: 426px) {
    .info {
        flex-direction: column;
        align-items: center;
        padding: 3vw;
        height: 120vh;
    }
    .unespimg1 {
        height: 400px;
        width: 500px;
        margin-right: -25vw;
        margin-left: -30vw;
        margin-bottom: -10vh;
        margin-top: -10vh;
        scale: 0.45;
        display: block;
    }
}

@media(max-width: 376px) {
    .unespimg1 {
        height: 400px;
        width: 450px;
    }
}

@media(max-width: 321px) {
    .unespimg1 {
        height: 400px;
        width: 400px;
    }
    .info {
        height: 130vh;
    }
}