* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.what {
    height: 70vh;
    background-color: rgb(251, 249, 249);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    row-gap: 3.5vh;
    padding: 10vw;

}

.what h1 {
    color: #1d295e;
    font-weight: bold;
    font-size: 3rem;
}

.what h2 {
    color: #263578;
}
@media(max-width: 1024px) {
   .what h1, h2, p {
    scale: 0.8;
   }
   .what .button-74 {
    scale: .97;
   }
}
@media(max-width: 768px) {
    .what h1, h2, p {
        scale: 1;
       }
       .what .button-74 {
        scale: .97;
       }
    .what {
        height: 80vh;
        padding: 10vw 5vw;
    }
    .what h1 {
        font-size: 2.2rem;
    }
    .what h2 {
        font-size: 1.2rem;
    }

    .what p {
        font-size: .8rem;
    }
}
@media(max-width: 376px) {
    .what {
        height: 90vh;
        padding: 10vw 5vw;
    }
    .what h1 {
        font-size: 1.8rem;
    }
    .what h2 {
        font-size: 1rem;
    }

   
}